<div class="card mx-auto mt-5" style="width: 22rem">
  <div class="card-body">
    <div class="card-title text-center">
      <form (submit)="onSubmit()">
        <div class="form-group mt-2">
          <label for="email">Username</label>
          <input
            type="text"
            id="email"
            name="email"
            class="form-control"
            [(ngModel)]="email"
          />
        </div>
        <div class="form-group mt-2">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            [(ngModel)]="password"
          />
        </div>
        <div class="d-grid gap-2 mt-3">
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </div>
      </form>
      <div class="d-grid gap-2 mt-3">
        <button type="button"  class="btn btn-secondary btn-block" (click)="showView()">Register</button>
      </div>
    </div> 
  </div>
</div>
